* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.dark,
.light {
  height: 100vh;
}
.dark {
  background-color: indigo;
  color: lightgoldenrodyellow;
}

.light {
  background-color: aliceblue;
  color: gray;
}